import os

DB_USER = {"user": os.environ.get("DB_USER", "exchange"),
           "password": os.environ.get("DB_PASS", "e8SzuHGn")}

# Количество сессий в пулле с БД
MIN = 5
MAX = 10

EXECUTE_TIMEOUT_SQL = {{ execute_timeout_sql }}

REDIS_URL = os.getenv("REDIS_URL", 'redis://localhost:6379')
REDIS_SOCKET_TIMEOUT = 3


DBS = {
{% for dsn in dsn_data %}
    {% if dsn.get('service_name') %}
    "{{dsn.name}}": {**DB_USER, "host": "{{dsn.host}}", "port": "{{dsn.port}}", "service_name": "{{dsn.get('service_name')}}"},
{% else %}
    "{{dsn.name}}": {**DB_USER, "host": "{{dsn.host}}", "port": "{{dsn.port}}"},
    {% endif %}
{% endfor %}
}
